<mat-card class="custom-shadow">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-subtitle>Identificador 🡆: # {{dataJoin.id}}</mat-card-subtitle>
            <mat-card-title>Nombre:<br> ➠ {{dataJoin.name}}</mat-card-title>
            <div class="custom-shadow-img">
                <img mat-card-md-image src="{{dataJoin.sprite_url}}">
            </div>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <small style="color:red">{{ errorMessage }}</small>
        <hr>
        <mat-grid-list cols="5" rowHeight="2:9">
            <mat-grid-tile colspan="2">
                <mat-list role="list">
                    <h3>Tipo</h3>
                    @for (type of dataJoin.types; track $index) {
                    <mat-list-item role="listitem">✅ {{type}}</mat-list-item>
                    }
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <br>
                <mat-list role="list">
                    <h3>Habilidades</h3>
                    @for (abili of dataJoin.abilities; track $index) {
                    <mat-list-item role="listitem">⚔ {{abili}}</mat-list-item>
                    }
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button  (click)="capturePokemon(dataJoin)">
            Capturar
            <img src="assets/img/juegos.png" alt="Icono" width="40" height="40">
        </button>
    </mat-card-actions>
</mat-card>