<div style="color: azure">
    <mat-toolbar style="background-color: rgb(167, 168, 240)">
        <span>Poke-Agent App</span>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <span *ngIf="isLoggedIn" matTooltip="Nombre de Usuario">{{nameUser}}</span>
        <div *ngIf="isLoggedIn">
            <span class="example-spacer"></span>
            <button matTooltip="Acciones" mat-icon-button [matMenuTriggerFor]="aboutMenu" class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #aboutMenu="matMenu" xPosition="before">
                <a href="/pokemon/find"><button mat-menu-item>Buscar Pokémon</button></a>
                <a href="/pokemon/all"><button mat-menu-item>Mi Equipo Pokémon</button></a>
            </mat-menu>
        </div>
        <span class="example-spacer"></span>
        <div *ngIf="!isLoggedIn">
            <a href="/users">
                <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    Login
                </button>
            </a>
            <a href="/users/register">
                <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
                    Register
                </button>
            </a>
        </div>
        <div *ngIf="isLoggedIn">
            <button matTooltip="Salir de Poke-Agent App" mat-icon-button [matMenuTriggerFor]="notesMenu" class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
            <mat-menu #notesMenu="matMenu" xPosition="before">
                <hr>
                <a><button mat-menu-item (click)="logout()">Salir</button></a>
            </mat-menu>
        </div>
    </mat-toolbar>
</div>