<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Buscar Pokémon</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
        <form [formGroup]="pokeForm">
            <mat-form-field appearance="outline">
                <mat-label>click aquí</mat-label>
                <mat-select formControlName="type_find" (selectionChange)="resetForm($event)">
                    <mat-option>-- Seleccionar filtro de busqueda --</mat-option>
                    <mat-option *ngFor="let option of options_find" [value]="option.value">{{ option.option }}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" *ngIf="pokeForm.controls['type_find'].value=='findByName'">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" placeholder="Nombre"
                    [required]="pokeForm.controls['type_find'].value=='findByName'" autocomplete="off"
                    (keyup)="pokeForm.controls['name'].setValue(pokeForm.controls['name'].value.toUpperCase())">
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="pokeForm.controls['type_find'].value=='findById'">
                <mat-label>N° identificador</mat-label>
                <input matInput formControlName="id" placeholder="N° identificador"
                    [required]="pokeForm.controls['type_find'].value=='findById'" autocomplete="off"
                    type="number">
            </mat-form-field>
            <br>
            <div *ngIf="errorMessage" style="background-color:rgb(232, 235, 237)">
                <hr>
                <small style="color:red">{{ errorMessage }}</small>
                <hr>
            </div>
            <button (click)="findPokemon()" mat-raised-button color="primary">Buscar</button>
        </form>
    </mat-card-content>
</mat-card>